<div *ngIf="uploadNew">
    <form [formGroup]="settingsForm" (ngSubmit)="submitForm()">
        <fieldset [disabled]="isSubmitting">
            <fieldset class="form-group">
                <div *ngIf="selectedFile" class="file-container">
                    <div *ngIf="selectedFile.pending" class="file-loading-overlay">
                        <div class="file-spinning-circle"></div>
                    </div>
                </div>
                <p>
                    <span>Vælg et dokument</span>
                    <input #fileInput class="form-control form-control-lg" type="file" required
                        (change)="processFile(fileInput)" formControlName="file">
                </p>
            </fieldset>

            <fieldset class="form-group">
                <span>Titel</span>
                <input class="form-control form-control-lg"
                  type="text"
                  required
                  placeholder="Angiv titel"
                  formControlName="title" />
              </fieldset>

            <button class="btn btn-lg btn-default pull-xs-left" type="button"
                (click)="uploadNew=false" *ngIf="uploadNew">
                Fortryd
            </button>

            <button class="btn btn-lg btn-primary pull-xs-right"
                [disabled]="!settingsForm.valid || isSubmitting"type="submit">
                Læg dokument op
            </button>
        </fieldset>
    </form>
</div>
<div>
    <button class="btn btn-lg btn-primary" type="button"
        (click)="uploadNew=true" *ngIf="!uploadNew">
        Læg nyt dokument op
    </button>
</div>