<div class="card">
  <div class="card-block">
      <div class="card-text" [innerHTML]="comment.body"></div>
  </div>
  <div class="card-footer">
    <a class="comment-author" [routerLink]="['/profile', comment.author.uid]">
      <img [src]="comment.author.image" class="comment-author-img" />
    </a>
    &nbsp;
    <a class="comment-author" [routerLink]="['/profile', comment.author.uid]">
      {{ comment.author.name }}
    </a>
    <span class="date-posted">
      {{ comment.createdAt.toDate() | date: 'longDate' }}
    </span>
    <span class="mod-options" [hidden]="!canModify">
      <i class="ion-trash-a" (click)="deleteClicked()"></i>
    </span>
  </div>
</div>
