<div class="card">
  <div class="card-block">
      <div class="card-text" [innerHTML]="comment.body"></div>
  </div>
  <div class="card-footer">
    <span class="comment-author">
      <img [src]="comment.author.image" class="comment-author-img" />
    </span>
    &nbsp;
    <span class="comment-author" *ngIf="email">
      <a href="mailto:{{email}}" style="color:black">{{ comment.author.name }}</a>
    </span>
    <span class="comment-author" *ngIf="!email">
      {{ comment.author.name }}
    </span>
    <span class="date-posted">
      {{ comment.author.address }}
    </span>
    <span class="date-posted" style="float: right">
      {{ toLongDate(comment.createdAt) }}
    </span>
    <span class="mod-options" [hidden]="!canModify">
      <i class="ion-trash-a" (click)="deleteClicked()"></i>
    </span>
  </div>
</div>
