<div class="article-page">

  <div class="banner">
    <div class="container">
      <h1>{{ article?.title }}</h1>
      <app-article-meta [article]="article" [showSticky]="true">

          <span [hidden]="!canModify">
          <a class="btn btn-sm btn-outline-secondary"
             [routerLink]="['/editor', article.slug]">
            <i class="ion-edit"></i> Edit Article
          </a>

        </span>
      </app-article-meta>
    </div>
  </div>

  <div class="page-wrapper">
    <div class="container page">
      <div class="article-content">
        <div class="col-md-12">
          <div [innerHTML]="article.body"></div>
        </div>
      </div>

      <hr />

      <div class="row">
        <div class="col-xs-12 col-md-8 offset-md-2">

          <app-article-comment
            *ngFor="let comment of comments | async"
            [comment]="comment"
            (deleteComment)="onDeleteComment(comment)">
          </app-article-comment>

          <div *appShowAuthed="!true">
            <app-list-errors [errors]="commentFormErrors"></app-list-errors>
            <form class="card comment-form" (ngSubmit)="addComment()">
              <fieldset [disabled]="isSubmitting">
                <div class="card-block">
                  <p-editor [(ngModel)]="commentContent" [style]="{'height':'320px'}" name="comment">
                    <p-header>
                      <span class="ql-formats">
                        <select class="ql-size">
                          <option selected></option>
                          <option value="large">Stor</option>
                          <option value="huge">Større</option>
                        </select>
                      </span>
                      <span class="ql-formats">
                        <button class="ql-bold" aria-label="Bold"></button>
                        <button class="ql-italic" aria-label="Italic"></button>
                        <button class="ql-underline" aria-label="Underline"></button>
                      </span>
                      <span class="ql-formats">
                        <button class="ql-list" value="ordered"></button>
                        <button class="ql-list" value="bullet"></button>      
                      </span>
                      <span class="ql-formats">
                        <button aria-label="Link" class="ql-link"></button>
                        <button aria-label="Image" class="ql-image"></button>
                      </span>
                    </p-header>
                  </p-editor>
                </div>
                <div class="card-footer">
                  <!-- <img [src]="currentUser.image" class="comment-author-img" /> -->
                  <button class="btn btn-sm btn-primary" type="submit">
                  Kommentér
                  </button>
                </div>
              </fieldset>
            </form>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
