<div class="editor-page">
  <div class="banner">
    <div class="container">
      <h1 class="logo-font">Nyt opslag</h1>
      <div class="article-meta">
          <div class="info">
              <span class="author"></span>
              <span class="date"></span>
              <span class="date" style="padding-top: 5px;"></span>
          </div>
        </div>              
    </div>
  </div>

  <div class="container page">
    <div class="row">
      <div class="col-md-10 offset-md-1 col-xs-12">

        <ul class="error-messages" *ngIf="error">
          <li>
            {{ error }}
          </li>
        </ul>

        <form [formGroup]="articleForm">
          <fieldset [disabled]="isSubmitting">

            <fieldset class="form-group">
              <input class="form-control form-control-lg"
                formControlName="title"
                type="text"
                required
                placeholder="Angiv opslagstitel her" />
            </fieldset>

            <fieldset class="form-group">
              <p-editor [style]="{'height':'320px'}" formControlName="body" required>
                <p-header>
                  <span class="ql-formats">
                    <select class="ql-size">
                      <option selected></option>
                      <option value="large">Stor</option>
                      <option value="huge">Større</option>
                    </select>
                  </span>
                  <span class="ql-formats">
                    <button class="ql-bold" aria-label="Bold"></button>
                    <button class="ql-italic" aria-label="Italic"></button>
                    <button class="ql-underline" aria-label="Underline"></button>
                  </span>
                  <span class="ql-formats">
                    <button class="ql-list" value="ordered"></button>
                    <button class="ql-list" value="bullet"></button>      
                  </span>
                  <span class="ql-formats">
                    <button aria-label="Link" class="ql-link"></button>
                    <button aria-label="Image" class="ql-image"></button>
                  </span>
                </p-header>
              </p-editor>

              <fieldset class="form-group" *ngIf="isAdmin" style="margin-top: 1em">
                <label>
                <input class="form-control-lg form-control-inline"
                  type="checkbox"
                  formControlName="sticky" />
                  Opslaget låses til toppen af forsiden
                </label>
              </fieldset>

            </fieldset>

            <p>Når du laver et nyt opslag notificeres forummets brugere om dit opslag, hvis de har tilladt notifikationer.</p>

            <button class="btn btn-lg pull-xs-right btn-primary" type="button" (click)="submitForm()"
              [disabled]="!articleForm.valid || isSubmitting">
              Slå op
            </button>

          </fieldset>
        </form>

      </div>
    </div>
  </div>
</div>
