<div class="editor-page">
  <div class="container page">
    <div class="row">
      <div class="col-md-10 offset-md-1 col-xs-12">

        <ul class="error-messages" *ngIf="error">
          <li>
            {{ error }}
          </li>
        </ul>

        <form [formGroup]="articleForm">
          <fieldset [disabled]="isSubmitting">

            <fieldset class="form-group">
              <input class="form-control form-control-lg"
                formControlName="title"
                type="text"
                placeholder="Angiv opslagstitel her" />
            </fieldset>

            <fieldset class="form-group">
              <p-editor [style]="{'height':'320px'}" formControlName="body"></p-editor>
              <!--<div [froalaEditor]='commentOptions' [(froalaModel)]="articleContent"></div>-->
            </fieldset>

            <button class="btn btn-lg pull-xs-right btn-primary" type="button" (click)="submitForm()">
              Slå op
            </button>

          </fieldset>
        </form>

      </div>
    </div>
  </div>
</div>
