<nav class="navbar navbar-light" *ngIf="authService.isLoggedIn">
  <div class="container">
    <!-- <a class="navbar-brand" routerLink="/">Valløgård Forum</a> -->

    <!-- Show this for logged in users -->
    <ul class="nav navbar-nav pull-xs-right">

      <li class="nav-item">
        <a class="nav-link"
          routerLink="/"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }">
          Til forsiden
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link"
          routerLink="/editor"
          routerLinkActive="active">
          <i class="ion-compose"></i>&nbsp;Nyt opslag
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link"
          routerLink="/referater"
          routerLinkActive="active">
          <i class="ion-chatbubbles"></i>&nbsp;Referater
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link"
          routerLink="/dokumenter"
          routerLinkActive="active">
          <i class="ion-document"></i>&nbsp;Dokumenter
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link"
          routerLink="/settings"
          routerLinkActive="active">
          <i class="ion-gear-a"></i>&nbsp;Indstillinger
        </a>
      </li>

      <li class="nav-item" *ngIf="isAdmin">
        <a class="nav-link"
          routerLink="/brugere"
          routerLinkActive="active">
          <i class="ion-person-stalker"></i>&nbsp;Brugere
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link"
          [routerLink]="['/profile', currentUser.username]"
          routerLinkActive="active">
          <img [src]="currentUser.image" *ngIf="currentUser.image" class="user-pic" />
          {{ currentUser.username }}
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link"
          routerLink="/"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          (click)="authService.logout()">
          <i class="ion-log-out"></i>&nbsp;Log ud
        </a>
      </li>

    </ul>

  </div>
</nav>
