<div class="article-meta {{ bg ? 'bg' : '' }}">
  <div>
    <button type="button" class="btn btn-link" (click)="copyUrl()" style="float: right;margin:0.5em" *ngIf="showSticky">
      <i class="ion-clipboard" style="font-size: 1.5em;" title="Kopier link til opslaget"></i>
    </button>
  <div>
    <button type="button" class="btn btn-link" (click)="watch(!isWatching())" style="float: right;margin:0.5em" *ngIf="showSticky && watchingAllowed()">
      <i *ngIf="isWatching()" class="ion-eye-disabled" style="font-size: 1.5em;" title="Få ikke en notifikation, når dette opslag kommenteres"></i>
      <i *ngIf="!isWatching()" class="ion-eye" style="font-size: 1.5em;" title="Få en notifikation, når dette opslag kommenteres"></i>
    </button>
  </div>

  <img [src]="article.author.image" />

  <div class="info">
    <span class="author" *ngIf="email">
      Af <a href="mailto:{{email}}" style="color:inherit">{{ article.author.name }}</a>
    </span>
    <span class="author" *ngIf="!email">
      Af {{ article.author.name }}
    </span>
    <span class="date">
      {{ article.author.address }}
    </span>
    <span class="date">
      Oprettet d. {{ toLongDate(article.createdAt) }}
    </span>
    <i *ngIf="showSticky && article.sticky" class="ion-star sticky date" style="padding-top: 5px;"> Dette opslag fremhæves på forsiden</i>
  </div>

  <div class="info" *ngIf="!showSticky">
    <span class="date" style="margin-top: 1em">
      Set af <i>{{ articleCount() }}</i> {{ articleCount() === 1 ? 'person' : 'personer' }}
    </span>
    <span class="date">
      {{ article.comments?.length || 'Ingen' }} {{ article.comments?.length === 1 ? 'kommentar' : 'kommentarer' }}
    </span>
  </div>

  <div class="info" *ngIf="!showSticky">
    <span class="date" *ngIf="article.comments?.length > 0" style="margin-top: 2.1em">
      Nyeste kommentar d. {{ toLongDate(article.updatedAt) }}
    </span>
    <img *ngFor="let c of uniques(article.comments)" [src]="c.image" class="img-small" [title]="c.name" />
  </div>
</div>
