<div class="article-meta" [class.detail-bar]="showSticky">

  <img [src]="article.author.image" [appAvatarFallback]="article.author.name" class="meta-avatar" *ngIf="showSticky" />

  <div class="meta-body">
    <div class="meta-who">
      <span class="author" *ngIf="email">
        Af <a href="mailto:{{email}}" class="comment-author-link">{{ article.author.name }}</a>
      </span>
      <span class="author" *ngIf="!email">Af {{ article.author.name }}</span>
      <span class="meta-sep"></span>
      <span class="date">{{ article.author.address }}</span>
      <span class="meta-sep"></span>
      <span class="date">{{ showSticky ? 'Oprettet d. ' : '' }}{{ toLongDate(article.createdAt) }}</span>
    </div>

    <div class="meta-sticky-note" *ngIf="showSticky && article.sticky">
      <i class="ion-star"></i> Dette opslag fremhæves på forsiden
    </div>

    <div class="meta-stats" *ngIf="!showSticky">
      <span class="stat" title="Set af {{ articleCount() }} {{ articleCount() === 1 ? 'person' : 'personer' }}">
        <i class="ion-eye"></i> {{ articleCount() }}
      </span>
      <span class="stat" title="{{ commentCount || 'Ingen' }} {{ commentCount === 1 ? 'kommentar' : 'kommentarer' }}">
        <i class="ion-chatbubbles"></i> {{ commentCount || 0 }}
      </span>
      <span class="meta-latest" *ngIf="commentCount > 0">Nyeste kommentar d. {{ toLongDate(article.updatedAt) }}</span>
      <span class="meta-avatars" *ngIf="commenters.length">
        <img *ngFor="let c of commenters" [src]="commenterImages[c.uid]" [appAvatarFallback]="c.name" class="img-small" [title]="c.name" />
      </span>
    </div>
  </div>

  <div class="meta-actions" *ngIf="showSticky">
    <button type="button" class="meta-icon-btn" (click)="copyUrl()" title="Kopier link til opslaget">
      <i class="ion-clipboard"></i>
    </button>
    <button type="button" class="meta-icon-btn" (click)="watch(!isWatching())" *ngIf="watchingAllowed()">
      <i *ngIf="isWatching()" class="ion-eye-disabled" title="Få ikke en notifikation, når dette opslag kommenteres"></i>
      <i *ngIf="!isWatching()" class="ion-eye" title="Få en notifikation, når dette opslag kommenteres"></i>
    </button>
  </div>

</div>
