<div class="settings-page">
  <div class="container page">
    <div class="row">
      <div class="col-md-6 offset-md-3 col-xs-12">

        <h1 class="text-xs-center">Indstillinger</h1>

        <app-list-errors [errors]="errors"></app-list-errors>

        <form [formGroup]="settingsForm" (ngSubmit)="submitForm()">
          <fieldset [disabled]="isSubmitting">

            <fieldset class="form-group">
              <p>
                <img [src]="profile.image" class="img-profile" />
              </p>
              <div *ngIf="selectedFile" class="img-preview-container">
                <div class="img-preview{{selectedFile.status === 'fail' ? '-error' : ''}}"
                  [ngStyle]="{'background-image': 'url('+ selectedFile.src + ')'}">
                </div>
              
                <div *ngIf="selectedFile.pending" class="img-loading-overlay">
                  <div class="img-spinning-circle"></div>
                </div>
              </div>
              <p>
                <span>Vælg et profilbillede</span>
                <input #imageInput class="form-control form-control-lg"
                  type="file"
                  accept="image/*"
                  (change)="processFile(imageInput)">
              </p>
            </fieldset>

            <fieldset class="form-group">
              <span>Dit fulde navn</span>
              <input class="form-control form-control-lg"
                type="text"
                placeholder="Dit fulde navn"
                formControlName="name" />
            </fieldset>

            <fieldset class="form-group">
              <span>Din e-mail adresse</span>
              <input class="form-control form-control-lg"
                type="email"
                placeholder="Din E-mail adresse"
                formControlName="email" />
            </fieldset>

            <fieldset class="form-group">
              <label>
              <input class="form-control form-control-lg form-control-inline"
                type="checkbox"
                formControlName="notifyAboutNewArticles" />
                Send e-mailnotifikation når et nyt opslag oprettes
              </label>
            </fieldset>

            <fieldset class="form-group">
              <label>
              <input class="form-control form-control-lg form-control-inline"
                type="checkbox"
                formControlName="notifyAboutNewComments" />
                Send e-mailnotifikation når et opslag kommenteres
              </label>
            </fieldset>

            <button class="btn btn-lg btn-primary pull-xs-right"
              type="submit">
              Opdatér indstillinger
            </button>

          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
